@using Codeterpret
@using Codeterpret.Implementations.BackEnd;
@using Codeterpret.SQL;
@using Codeterpret.Common;
@using CodeterpretWeb.Components;

@inject IJSRuntime JSRuntime

@page "/builder"

<h3><b>Database Schema Translator and Project Builder</b></h3>

<Form>
    <Tabs SelectedTab="@selectedTab" SelectedTabChanged="@OnSelectedTabChanged">
        <Items>
            <Tab Name="source">Source Database</Tab>
            <Tab Name="targetSQL">Translated Database</Tab>
            <Tab Name="backendProject">Back End Project</Tab>
            <Tab Name="frontendProject">Front End Project</Tab>
        </Items>
        <Content>
            <TabPanel Name="source">
                <br />
                <Label>
                    Here you write or paste a schema creation script that you want translated to SQL Server or MySQL. You can convert a SQL Server schema creation script to MySQL and visa versa. You also have the option of writing a QuickScript which allows you to quickly define a schema that can be translated to SQL Server of MySQL. More database types will be made available as time permits me to write translating code.
                </Label>
                <Field>
                    <FieldLabel><b>Script Type</b></FieldLabel>
                    <Select SelectedValue="@fromDBType" TValue="int" SelectedValueChanged="@OnFromDBTypeChanged">
                        <SelectItem Value="0">SQL Server</SelectItem>
                        <SelectItem Value="1">MySQL</SelectItem>
                        <SelectItem Value="2">Quick Script</SelectItem>
                    </Select>
                </Field>

                <Alert @ref="fromDBTypeInfo" Color="Color.Light"  Dismisable>

                    @if (fromDBType == 2)
                    {
                        <Heading Size="HeadingSize.Is4" TextColor="TextColor.Dark">
                            <h3>Quick Script</h3>
                            <CloseButton Clicked="@hideFromDBTypeInfo" />
                        </Heading>
                        <Paragraph>
                            Quick Script is a shorthand script that I came up with, which allows the developer to very quickly define a database schema design, using abbreviated keywords to define table structures and relationships.

                        </Paragraph>
                        <Paragraph>
                            <Button Color="Color.Secondary" Clicked="(() => ShowMeExample(2))">Generate Example</Button>
                        </Paragraph>
                    }

                    @if (fromDBType == 0)
                    {
                        <Heading Size="HeadingSize.Is4" TextColor="TextColor.Dark">
                            <h3>SQL Server</h3>
                            <CloseButton Clicked="@hideFromDBTypeInfo" />
                        </Heading>
                        <Paragraph>
                            For best results, it is best to use schema creation script that has been generated from a tool such as SQL Server Management Studio.
                        </Paragraph>
                        <Paragraph>
                            <Button Color="Color.Secondary" Clicked="(() => ShowMeExample(0))">Generate Example</Button>
                        </Paragraph>
                    }

                    @if (fromDBType == 1)
                    {
                        <Heading Size="HeadingSize.Is4" TextColor="TextColor.Dark">
                            <h3>MySQL</h3>
                                <CloseButton Clicked="@hideFromDBTypeInfo" />
                        </Heading>
                        <Paragraph>
                            For best results, it is best to use schema creation script that has been generated from a tool such as MySQL Workbench.
                        </Paragraph>
                        <Paragraph>
                            <Button Color="Color.Secondary" Clicked="(() => ShowMeExample(1))">Generate Example</Button>
                        </Paragraph>
                    }

                </Alert>

                <Field>
                    <FieldLabel><b>Script</b></FieldLabel>
                    <textarea rows="30" id="fromSql" name="fromSql" @bind="fromScript"></textarea>
                </Field>
            </TabPanel>
            <TabPanel Name="targetSQL">
                <br />
                <Field>
                    <Label>Generate a database schema script from the <b>Source</b> script if you wish to translate to a different database type.</Label>
                </Field>
                <Fields>
                    <Field>
                        <Select TValue="int" @bind-SelectedValue="toDBType">
                            <SelectItem Value="1">SQL Server</SelectItem>
                            <SelectItem Value="2">MySQL</SelectItem>
                        </Select>
                    </Field>
                    <Field>
                        <Button Color="Color.Secondary" Clicked="@Generate">Generate</Button>
                    </Field>
                </Fields>

                <Alert @ref="translateFailed" Color="Color.Danger" Dismisable>
                    <AlertMessage>Opps!</AlertMessage>
                    <AlertDescription>Something went terribly wrong when attempting to translating your Source SQL</AlertDescription>
                    <CloseButton Clicked="@hidetranslateFailed" />
                </Alert>

                @if (initializedToSql)
                {
                    <Field>
                        <FieldLabel><b>SQL Script</b></FieldLabel>
                        <div class="codeArea">
                            <textarea rows="60" id="toSql" name="toSql" @bind="generatedSQL"></textarea>
                        </div>
                    </Field>
                }


            </TabPanel>
            <TabPanel Name="backendProject">
                <br />
                <Alert @ref="InProgress" Color="Color.Info">
                    <AlertMessage>Not fully functional</AlertMessage>
                    <AlertDescription>I am still working on the code generation, which is not complete and contains some bugs. You can still play around with what I have deployed so far.</AlertDescription>
                </Alert>
                <Field>
                    <br />
                    <h3>Project Generation Settings</h3>
                    <CrudTable @ref="crudTable"></CrudTable>

                </Field>
            </TabPanel>
            <TabPanel Name="frontendProject">
                <br />
                <Field>
                    <Label><b>Coming soon:</b> Generate a frontend project from the sql script. Currently an Angular 10+ translator is being developed.</Label>
                </Field>
            </TabPanel>
        </Content>
    </Tabs>
</Form>



@code {

    string selectedTab;
    Alert fromDBTypeInfo;
    Alert translateFailed;
    Alert InProgress;
    CrudTable crudTable;



    private int fromDBType = 2;
    private int toDBType = 1;
    private string generatedSQL;
    private bool initializedToSql = false;

    private string fromScript = "";
    private string exampleQuickScript = "t Game\n" +
                                "c Id, an, pk\n" +
                                "c Title varchar 50\n" +
                                "c Description varchar 500\n" +
                                "c RatingId int, fk to Rating Id\n\n" +

                                "t Console\n" +
                                "c Id, an, pk\n" +
                                "c Name varchar 50\n" +
                                "c Description 500\n" +
                                "c ManufacturerId int, nn, fk to Manufacturer Id\n\n" +

                                "t Compatible\n" +
                                "c GameId int, nn, fk to Game Id\n" +
                                "c Console int, nn, fk to Console Id\n\n" +

                                "t Manufacturer\n" +
                                "c Id, an, pk\n" +
                                "c Name varchar 50\n" +
                                "c Description varchar 2000\n\n" +

                                "t Rating\n" +
                                "c Id, an, pk\n" +
                                "c Name varchar 10\n" +
                                "c Description varchar 200";


    protected override async Task OnInitializedAsync()
    {

    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            selectedTab = "source";
            fromDBType = 2;
            fromDBTypeInfo.Show();
            StateHasChanged();

            await SetupCodeMirror("", "");

            InProgress.Show();
        }
    }

    private async Task SetupCodeMirror(string fromCode, string toCode)
    {
        await JSRuntime.InvokeAsync<object>("CodeMirrorFromSql", fromCode);
    }

    private async Task<string> GetFromCode()
    {
        return await JSRuntime.InvokeAsync<string>("GetFromSqlCode");
    }

    private async Task SetFromSqlCode(string code)
    {
        await JSRuntime.InvokeVoidAsync("SetFromSqlCode", code);
    }

    private async Task SetToSqlCode(string code)
    {
        await JSRuntime.InvokeVoidAsync("SetToSqlCode", code);
    }


    private async Task Generate()
    {
        try
        {
            fromScript = await GetFromCode();
            SQLTableClassBuilder stcb = new SQLTableClassBuilder(fromScript);
            CSharp cs = new CSharp();

            if (!initializedToSql)
            {
                initializedToSql = true;

                StateHasChanged();
                await JSRuntime.InvokeAsync<object>("CodeMirrorToSql", "");
            }

            Enums.DatabaseTypes dbType = Enums.DatabaseTypes.SQLServer;
            if (toDBType == 2) dbType = Enums.DatabaseTypes.MySQL;

            generatedSQL = cs.GenerateSQLScript(stcb.SQLTables, dbType);

            if (generatedSQL == "" & fromScript != "")
            {
                translateFailed.Show();
            }
            else
            {
                await SetToSqlCode(generatedSQL);

                selectedTab = "targetSQL";

                crudTable.SQLTables = stcb.SQLTables;
                //await crudTable.InitializeBackendCode();
                crudTable.Refresh();
            }
        }
        catch
        {
            translateFailed.Show();
        }

    }

    private void OnFromDBTypeChanged(int value)
    {
        fromDBType = value;
        StateHasChanged();
        fromDBTypeInfo.Show();
    }

    private void hideFromDBTypeInfo()
    {
        fromDBTypeInfo.Hide();
    }

    private void hidetranslateFailed()
    {
        translateFailed.Hide();
    }

    private async Task ShowMeExample(int dbTypeToShow)
    {
        SQLTableClassBuilder stcb = new SQLTableClassBuilder(exampleQuickScript);
        CSharp cs = new CSharp();

        fromScript = dbTypeToShow == 2 ? exampleQuickScript : cs.GenerateSQLScript(stcb.SQLTables, (Enums.DatabaseTypes)dbTypeToShow);
        await SetFromSqlCode(fromScript);
    }

    public async Task OnSelectedTabChanged(string name)
    {
        selectedTab = name;
        StateHasChanged();
        await OnSelectedPanelChanged();

    }

    public async Task OnSelectedPanelChanged()
    {
        if (selectedTab == "targetSQL" && !initializedToSql)
        {

        }
    }
}
